* {
    font-family: Prompt;
}

html {
    scroll-behavior: smooth;
}

.Gicon {
    font-family: Material Symbols Outlined !important;
}

.Science {
    font-family: Tektur !important;
}

.title {
    font-family: Anton !important;
    font-size: 45px !important;
}

.Notfounder {
    background-image: url('./assets/background/Hero-Notfound.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Indexder {
    background-image: url('./assets/background/Index-hero.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}