@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

.Itimfont {
    font-family: Itim;
}

.Firecolor {
    color: #160E09;
}

thai {
    font-family: Sriracha !important;
}

.Gicon {
    font-family: Material Symbols Outlined !important;
}

.InputC {
    color: #160E09 !important;
}

.Headder {
    background-image: url('../../assets/background/Head-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Formmer {
    background-image: url('../../assets/background/Pancake-form.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Aboutter {
    background-image: url('../../assets/background/About-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Producter {
    background-image: url('../../assets/background/Product-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-top {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    display: none;
    z-index: 1;
}

.animeted-animation {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-animation-duration: var(--animate-duration) !important;
    animation-duration: var(--animate-duration) !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
    -webkit-animation-name: fadeInUpBig !important;
    animation-name: fadeInUpBig !important;
}

.Cardpic {
    width: 100% !important;
    height: 100% !important;
}